/*
	Indice Globals:
		#Style Main
		#Container Margin Section
		 #Footer Main
		 #Footer Main Information
		 	-Footer Main Information Title
		 	-Footer Main Information Paragraph
		 	-Footer Main Information Dato
		 	-Hover Footer Main Information Emails
*/
/*  #Style Main */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  height:100%; 
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
	height:100%;
}
a{
 text-decoration: none;
}
h1,h2,h3,h4{
	margin: 0;
}
.content-title-section{
	text-align:center;
	margin-bottom: 40px;
}
.subtitle-main-section{
	font-size:40px;
	margin: 0px auto;
	font-family:$title-font;
	text-align:center;
	width:100%;
	color:$color-pink;
}
.description-section{
	color:$color-white;
	font-family:$body-font;
	margin:7px;
	font-size:12px;
}
.line-title{
	border: 2px solid $color-white;
	width: 60px;
	margin: 7px auto;
	padding: 0px;
}
