@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Quicksand);

$color-pink-ligth:#d85980;
$color-pink-dark:#931c41;
$color-pink:#ae214d;
$color-white:#fff;
$color-black:#000;
$color-red:#c10808;
$color-gray:#ccc;
$color-gray-dark:#353434;
$title-font:'Raleway', sans-serif;
$body-font:'Quicksand',Trebuchet MS, sans-serif;