@import url(https://fonts.googleapis.com/css?family=Laila);
@import url(https://fonts.googleapis.com/css?family=Macondo);
$title-font:'Macondo', Arial,sans-serif;
$body-font:'Laila', Arial,sans-serif;
$color-white:#fff;
$color-black:#1A1A1A;
$color-orange:#f05a45;
$color-blue:#1b99a7;
$color-yellow:#f7c911;
$color-green:#8db73b;