/*
  Indice Contacto:
    #Section Background Contact
*/
.section-contact{
	color:$color-white;
	margin-top: 60px;
}
.content-background-contact{
	width:100%;
	background:url(../img/web3.jpg)no-repeat;
	background-size:100% 100%;
}
.content-section-contact{
	padding-top: 25px;
	background:$color-black;
	opacity:0.7;
	padding-bottom:90px;
}
.info-contact{
	width:35%;
	margin:0 auto;
	text-align:center;
	background:$color-pink-ligth;
	padding:20px;
	margin-top: 70px;
}
.title-contact{
	font-size:30px;
	font-family:$title-font;
}
.paragraph-info{
	font-size:20px;
	font-family:$title-font;
}
.dato-contact{
	color:$color-white;
	display:block;
	font-size:15px;
	font-family:$body-font;
	font-weight: bold;
}
.link-dato-contact:hover{
	text-decoration:underline;
}