/*
  Indice Contacto:
    #Section Background Contact
*/
.section-contact{
	color:$color-pink;
	position:relative;
	.subtitle-main-section{
		margin-top: 30px;
  }
}
.content-background-contact{
	width:100%;
}
.content-section-contact{
	padding-top: 100px;
  padding-bottom: 90px;
}
.info-contact{
	width:35%;
	margin:0 auto;
	text-align:center;
}
.title-contact{
	font-size:30px;
	font-family:$title-font;
}
.paragraph-info{
	font-size:20px;
	font-family:$title-font;
}
.dato-contact{
	color:$color-pink;
	display:block;
	font-size:15px;
	font-family:$body-font;
	font-weight: bold;
}
.link-dato-contact:hover{
	text-decoration:underline;
}