/*

*/
.content-image{
	width: 100%;
	@media(min-width:960px){
		height: 600px; 
		background: url(../img/web.png)no-repeat;
		background-size:100% 100%;
		padding-top: 70px;
	}
}
.content-welcome{
	background:$color-pink;
	padding:20px;
	text-align:center;

	&-title{
		font-size:25px;
		font-family:$title-font;
		color:$color-white;
	}
	&-paragraph{
		font-size:18px;
		font-family:$title-font;
		color:$color-white;
	}
	@media(min-width:960px){
		width:30%;
		margin:0 auto;
	}
}