/*

*/
.content-image{
	width: 100%;
	height: 600px; 
	background: url(../img/web.png)no-repeat;
	background-size:100% 100%;
	padding-top: 70px;
}
.content-welcome{
	background:$color-pink;
	padding:20px;
	width:30%;
	text-align:center;
	margin:0 auto;

	&-title{
		font-size:25px;
		font-family:$title-font;
		color:$color-white;
	}
	&-paragraph{
		font-size:18px;
		font-family:$title-font;
		color:$color-white;
	}
}