/*
  Indice Presentacion:
*/
.content-background-info{
	background:url(../img/web1.jpeg)no-repeat;
	width:100%;
	background-size:100% 100%;
}
.content-section-info{
	background:$color-pink-dark;
	opacity:0.8;
	color:$color-white;
	padding:30px;
	padding-top:60px;
	font-size: 15px;
  font-family:$body-font;
}
.content-about-rigth{
	width:40%;
	display:inline-block;
	margin-left:92px;
	vertical-align: top;

}
.title-info{
 	color:$color-gray;
 	font-size: 35px;
 	font-family:$title-font;
 	margin: 0;
}
.subtitle-info{
 	color:$color-white;
 	font-size: 20px;
 	font-family:$title-font;
 	margin: 0;
}