.section-projects .subtitle-main-section{
  margin-bottom: 20px;
}
.section-projects-container{
  display: inline-block;
  width: 100%;
  position: relative;
}
.list-project{
  list-style: none;
  padding:0;
  margin: 0 auto;
  width: 85%;
  text-align: center
}
.list-project-item{
  width: 25%;
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  background:$color-pink-ligth;
  background-size:100%;
  padding: 20px;
  text-align: center;
  padding-top: 0;
  height: 370px;
}
.list-project-image{
  width: 100%;
}
.list-project-description{
  margin:0;
  margin-bottom: 40px;
  font-family: $body-font;
  background:$color-white;
  padding:20px 10px;
  font-size: 14px;
  text-align: left;
}
.list-project-link{
    border: 3px solid $color-white;
    padding: 5px 50px;
    color:$color-white;
    font-weight: bold;
    font-size: 14px;
    font-family: $body-font;
}
.list-project-link:hover{
  background:$color-white;
  color: $color-pink-ligth;
}