.section-projects{
    padding-top:25px;
    .description-section{
        color:$color-gray-dark;
    }
    .line-title{
        border: 2px solid $color-gray-dark;
    }
}
.section-projects-container{
    display: inline-block;
    width: 100%;
    position: relative;
}
.list-project{
    list-style: none;
    margin: 0px auto;
    width: 100%;
    padding: 10px;

    @media(min-width:960px){
        max-width: 1000px
    }
}
.list-project-item{
    background:$color-pink-ligth;
    padding: 0px 20px 20px;
    text-align: center;
    margin-bottom: 10px;

    @media(min-width:640px){
        display: inline-block;
        vertical-align: top;
        width: 45%;
        margin: 15px;
        height: 365px;
    }

    @media(min-width:768px){
        width: 30%;
        margin: 10px;
        height: 460px;
    }
}
.list-project-image{

    @media(min-width:640px){
        width: 70%;
    }

    @media(min-width:768px){
        width: 100%;
    }
}
.list-project-description{
    margin:0;
    margin-bottom: 25px;
    font-family: $body-font;
    background:$color-white;
    padding:15px;
    font-size: 14px;
    text-align: left;

    @media(min-width:640px){
        height: 130px;
    }

    @media(min-width:768px){
        height: 195px;
    }

    @media(min-width:875px){
         height: 155px;
    }
}
.list-project-link{
    border: 3px solid $color-white;
    padding: 5px 50px;
    color:$color-white;
    font-weight: bold;
    font-size: 14px;
    font-family: $body-font;
    display: block;
    margin:13px;
}
@media(min-width:1024px){
    .list-project-link:hover{
        background:$color-white;
        color: $color-pink-ligth;
    }
}