/*
	Indice Skills:
*/
.content-about-left{

	.subtitle-info{
		background:$color-pink-dark ;
		color:$color-gray;
		padding: 10px;
		font-size: 20px;
		text-align: center;
	}

	@media(min-width:768px){
		width: 80%;
		margin: 50px auto 0;
	}

	@media(min-width:1024px){
		width:40%;
		margin:0;
		display:inline-block;
		vertical-align: top;
	}
}
.list-skills{
	list-style:none;
	padding:0;
}
.list-skills-item{
	display: inline-block;
	border: 3px solid #FFF;
	margin-bottom: 10px;
	width: 49%;
	text-align: center;
	padding: 8px;
	margin: 5px 0px;
}
.title-skill{
	margin:0;
	font-size: 15px;
	font-family: $body-font;
}