/*
	Indice Skills:
*/
.content-about-left{
	width:40%;
	display:inline-block;
	margin-left: 120px;

		.subtitle-info{
			background: $color-white;
			color:$color-pink-dark;
			padding: 10px;
			width: 35%;
			font-size: 15px;
			text-align: center;
			margin-left: 95px;
		}
}
.list-skills{
	list-style:none;
	padding:0;
}
.list-skills-item{
	display:inline-block;
	border:3px solid $color-white;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 35%;
  text-align: center;
  padding: 8px;
}
.title-skill{
	margin:0;
	font-size: 15px;
	font-family: $title-font;
}